<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/techproed/IdeaProjects/B103TestNGProject/src/test/java/techproed/tests/smoketests">

        <packages>
            <!--            NOT: name gecerli bir klasor ismi olmali.
                                 klasorun PATH i root dosyasindan (techproed) baslamali
                            NOT: KAYDET. SAVE. -->
            <package name="techproed.tests.dataprovider"></package>
            <package name="techproed.tests.smoketests"></package>
        </packages>

    </test>
</suite>

<!--
Smoke test e saga tiklayip xml dosyasi olustur
Run Et
Projeye tıkla > Run > Edit configuration
Xml dosyasını sec > listeners > + a tikla > reports lari ekle
APPLY > OK
XML i run et
Projeyi yenile
test-output dosyasında raporlar cikmis olacak
******************************
Eclipse: test-output dosyası testng non xml raportlari otomatik olacak oluşur
IntelliJ: bu dosyanın oluşması icin mini bir ayar gerekir
******TRABLE SHOOOTING***
1. Xml dosyası classa saga tiknayip create xml seklinde oluşturulmalı
2. Xml RUN edilmeli
3. proje>run edit configurations>listeners> rapolari ekle ve kaydet
4. RAPORTARIN CIKMASI ICIN BU ILISKILENDIRDIGIM XML DOSYASI RUN EDILMESI-->